SUPABASE_PROJECT_REF=
SUPABASE_URL=
SUPABASE_PUBLISHABLE_KEY=
SUPABASE_JWT_AUDIENCE=authenticated
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_DB_URL=
STORAGE_BUCKET_SOURCE_FILES=source-files
STORAGE_BUCKET_OUTPUT_FILES=output-files
MAX_UPLOAD_BYTES=52428800
